@model List<subcategory>

<p>Hello abed this is the list of all categories</p>

<div class="card-deck">
	@foreach (var category in Model)
	{
		var imagePath = $"Images\\{category.IconPath}";
		<div class="card">
			<img class="card-img-top" src="@imagePath" alt="Card image cap" style="height:100px">
			<div class="card-body">
				<a href="@Url.Action("Subcategory",new {id=category.Id })">	<h5 class="card-title">@category.Name</h5></a>
			</div>
		</div>

	}

</div>